.PokemonPage {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 20px;
}
  
.PokemonPage-details {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    background-color: yellow;
    color: black;
    width:80vw;
}

.PokemonPage a {
    color: black;
    background:orange;
    border:2px black solid;
    border-radius:5px;
    height:36px;
}

.PokemonPage a:hover {
    opacity: .8;
}

.favs {
    display:flex;
    flex-direction: column;
}

.fav {
    margin-bottom: 5px;
}